.submit-btn {
  width: 50%;
  background: linear-gradient(to right, #ff9800, #e6b266) !important;
  background-size: 200% 100%;
  background-position: left center;
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  font-weight: 500;
  transition: background-position 0.5s ease;

  &:hover {
    background-position: right center; 
  }
}
